:root {
    --black: #000000;
    --white: #ffffff;

    --main-white: #F8F8FB;
    --main-black: #060A27;
    --main-purple: #7728D9;
    --main-green: #C5F339;
  
    --font-family: Arial, sans-serif;
  }
  