<nav class="navbar">
    <a href="/" class="navbar__brand">
      <img src="" alt="RYTH" class="navbar__logo" id="navbar-logo" />
      <span class="navbar__wordmark">RYTH</span>
    </a>
  
    <ul class="navbar__links">
      <li class="navbar__link">
        <a href="/src/pages/contratacao/contratacao.html">Contratação</a>
      </li>
      <li class="navbar__link">
        <a href="/src/pages/competicoes/competicoes.html">Competições</a>
      </li>
      <li class="navbar__link navbar__link--login">
        <a id="navbar-account" href="/src/pages/login/index.html">Login</a>
      </li>
    </ul>
  
    <button class="navbar__search" aria-label="Buscar">
      <img src="/src/assets/icons/search-icon.svg" alt="" width="30" height="30">
    </button>
  </nav>